/* Queue */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 15px;
}
/* Queue Itself */
.queue {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 95%;
    margin: 10px 0;
}
/* Queue Objects*/
.queueContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: wrap;
}
.queueItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    flex: 1 0 20%;
    overflow: hidden;
}
.thumbnail {
    width: 50%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.itemText {
    background-color: white;
    width: 50%;
    height: 100%;
    padding: 5px;
    text-align: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}
.itemTitleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%; /* Adjusted height for better fitting */
    overflow: hidden;
}
.itemTitleBox h1 {
    font-size: 16px; /* Adjust font size as needed */
    margin: 0;
    padding: 0;
    word-wrap: break-word; /* Wrap text */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Ellipsis for overflow text */
    max-height: 100%; /* Ensure it fits within the box */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
}
.itemDetailsBox {
    height: 30%; /* Adjusted height for better fitting */
}
.itemDetailsBox p {
    margin: 0;
    padding: 0;
    font-weight: 1000;
}
