@import '../../vars.css';

.container {
    background-color: var(--color-primary);
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* OpenHub Logo */
.imgContainer {
    width: 50%;
    background-color: black;
    margin: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.img {
    padding: 50px;
    width: 98%;
}
/* OpenHub Title */
.titleBox {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 50px;
    margin-top: 35px;
}
.title {
    width: 80%;
    font-size: 80px;
    color: white;
    padding: 20px;
    display: flex;
    justify-self: center;
    align-self: center;
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
/* Blurs */
.leftBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: 700px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(120, 119, 119, 0.7);
    filter: blur(100px);
    z-index: 0;
}
.topRightBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: 246px;
    right: -25vw;
    border-radius: 364px;
    background: rgba(169, 169, 169, 0.7);
    filter: blur(100px);
    z-index: 0;
}
.botRightBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: 1150px;
    right: -45vw;
    border-radius: 364px;
    background: rgba(169, 169, 169, 0.7);
    filter: blur(100px);
    z-index: 0;
}